

.weather-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background-color: #f0f0f0;
  }
  
  .weather-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .weather-item-column {
    flex: 1;
    padding: 5px;
  }
  
  h1 {
    text-align: center;
    
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
  