
.container {
  display: flex;
  width:100%;
}

.left-container {
  flex: 1; /* Takes 50% of the available space */
  background-color: #f1f1f1;
  padding: 50px; /* Add padding as needed */
  
}

.right-container {
  flex: 1; /* Takes 50% of the available space */
  background-color: #e0e0e0;
  padding: 50px; /* Add padding as needed */
}

.center-table {
    margin: 0 auto; 
    border-collapse: collapse; 
    width: auto; 
    max-width: 100%; 
    table-layout: auto;
  }
  
  .center-table th, .center-table td {
    padding: 8px; 
    border: 1px solid #ddd;
  }

  input{
    margin:15px;
  }

  label{
    margin:15px;
  }

  
.table-container {
    height: calc(100vh - 100px); 
  }
  
  .center-table {
    margin: 0 auto; 
  }



/* Weather.css */

.cards-row {
  display: flex; /* Display the cards in a row */
  justify-content: space-between; /* Distribute space between cards */
  align-items: center; /* Align the cards vertically in the center */
  width: 100%; /* Occupy the full width of the container */
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex-grow: 1; /* Each card occupies an equal amount of space */
  max-width: calc(33.33% - 20px); /* To leave a little space between cards */
  margin:5px
}

.card-title {
  font-size: 15px;
  margin: 0;
}

.card-text {
  font-size: 16px;
  margin: 10px 0;
}

.card-text p {
  margin: 5px 0;
}
